
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #007bff;
            color: white;
            padding: .5rem;
        }

        .header h1 {
            font-size: 1.5rem;
        }

        .header .actions {
            display: flex;
            gap: 1rem;
        }

        .header button {
            padding: 1rem 2rem;
            background-color: #0056b3;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
        }

        .tabs {
            display: flex;
            background-color: #e0e0e0;
            padding: 0.5rem;
            justify-content: left;
            border-bottom: 1px solid #ccc;
            gap:10px;
        }

        .tabs button {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 1rem 2rem;
            cursor: pointer;
            font-size: 1.2rem;
        }

        .tabs button.active {
            background-color: #007bff;
            color: white;
        }

        .main {
            display: flex;
            flex: 1;
            overflow: hidden;
        }

        .sidebar {
            background-color: #f4f4f4;
            width: 15%;
            min-width: 150px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1rem;
            display: none;
        }

        .content {
            display: flex;
            flex: 1;
        }

        .orders {
            background-color: #fff;
            width: 45%;
            padding: 1rem;
            border-right: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .orders-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center; /* Középre igazítás */
            margin-top: auto; /* Az aljára helyezés */
            padding: 0; /* Térköz hozzáadása */
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .orders-footer .prices {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Középre igazítás */
            align-items: center; /* Középre igazítás */
            gap: 0.5rem; /* Térköz a sorok között */
        }
        .orders-footer .prices p {
            margin:0;
            padding:0;
        }
        
        #close-invoice {
            background-color: red;
            color: white;
        }

        .orders h2 {
            margin-bottom: 1rem;
        }


        #invoice-items-list {
            width: 100%; /* Teljes szélesség */
            max-height: 100%; /* Rögzített magasság, amit igény szerint módosíthatsz */
            overflow-y: auto; /* Görgetés engedélyezése, ha a tartalom túllépi a magasságot */
            display: block; /* A táblázatot blokk elemként kezeljük, hogy a görgetés működjön */
            border-collapse: collapse; /* Opcionális: cellák közötti keretek összevonása */
        }
        
        #invoice-items-list thead,
        #invoice-items-list tbody {
            display: block; /* A thead és tbody blokk elemként kezelése */
        }
        
        #invoice-items-list tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0; /* Opcionális: térköz a sorok között */
            border-bottom: 1px solid black;
        }
        
        #invoice-items-list td {
            flex: 2; /* Egyenlő szélességű oszlopok */
            text-align: center; /* Szöveg középre igazítása */
        }

        #invoice-items-list input[type="checkbox"] {
            width: 20px; /* Szélesség növelése */
            height: 20px; /* Magasság növelése */
            cursor: pointer; /* Mutató ikon hover esetén */
            transform: scale(1.5); /* Opcionális: nagyítás */
            margin: 0 10px; /* Térköz a checkbox körül */
        }

        .delete-item {
            cursor: pointer;
            transform: scale(1.5);
        }


        .menu {
            background-color: #e8e8e8;
            width: 50%;
            padding: 1rem;
            border-right: 1px solid #ccc;
        }

        .menu .product {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-height: 97%;
            overflow-y: auto; /* Görgetés engedélyezése, ha a tartalom túllépi a magasságot */
            padding: 0.5rem; /* Opcionális: térköz a tartalom és a görgetősáv között */
        }

        .menu .product p {
            max-width:150px;
        }

        .menu .product img {
            width: 100%;
            max-width: 150px;
            border-radius: 5px;
        }
        

        .notifications {
            background-color: #d9d9d9;
            width: 10%;
            padding: 1rem;
        }

        .notifications .notification-box {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1rem;
        }

        .footer {
            background-color: #f4f4f4;
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #ccc;
        }

        .footer button {
            padding: 1rem 2rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
        }

        .button {
            padding: 1rem 2rem;
            text-align: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
        }

        .button.red {
            background-color: #dc3545;
            color: white;
        }

        .button.green {
            background-color: #28a745;
            color: white;
        }

        /* Egyéni CSS a gombokhoz */
        #vat-modal .btn-primary {
            width: 200px; /* Gombok szélessége */
            margin: 0 auto; /* Gombok középre igazítása */
            background-color: #007bff; /* Alap szín */
            border-color: #007bff; /* Keret színe */
         }
        #vat-modal .btn-primary:hover {
            background-color: #0056b3; /* Hover szín */
            border-color: #0056b3; /* Hover keret színe */
        }

        @media screen and (max-width: 1000px) {
            .notifications {
                display: none;
            }

            .orders, .menu {
                width: 50%;
            }
        }

        .toggle-sidebar {
            display: none;
            position: fixed;
            top: 5rem;
            left: 0.2rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 20% 20% 50% 20%;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 1000;
        }
        .footer {
            display: flex;
            justify-content:center;
            padding: 0px;
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
        }
        
        .category {
            text-align: center;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .category img {
            width: 100px;
            height: 100px;
        }
        
        .category p {
            margin: 5px 0 0;
        }

        @media screen and (max-width: 800px) {
            .toggle-sidebar {
                display: flex;
            }

            .sidebar {
                position: absolute;
                top: 0;
                left: -100%;
                height: 100%;
                transition: left 0.3s;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }

            .sidebar.active {
                left: 0;
            }

            .notifications {
                display: none;
            }

            .orders, .menu {
                width: 50%;
            }

            
        }